nvim/.config/nvim/lua
nvim/.config/nvim/plugin
nvim/.config/nvim/init.lua

music/.config/mopidy/auth.json
music/.config/ncmpcpp/error.log

emacs/.config/doom/mail-ids.el
emacs/.config/doom/config.el

wezterm/.config/wezterm/wezterm.lua
