nvim/.config/nvim/lua/dotfiles
nvim/.config/nvim/plugin
hunter/.config/hunter/history
hunter/.config/hunter/actions
hunter/.config/hunter/~keys
hunter/.config/hunter/previewers
tmux/.config/tmux/plugins
music/.config/mopidy/auth.json
emacs/.config/doom/mail-ids.el
emacs/.config/doom/config.el
