[Unit]
Description=Dynamic output configuration for Wayland compositors
Documentation=man:swayidle
BindsTo=sway-session.target

[Service]
Type=simple
ExecStart=/usr/bin/swayidle -w \
          timeout 300 'swaylock -f -c 000000' \
          timeout 600 'swaymsg "output * dpms off"' \
          timeout 2400 'systemctl suspend' \
          resume 'swaymsg "output * dpms on"' \
          before-sleep 'swaylock -f -c 000000'

[Install]
WantedBy=sway-session.target
