window {
    margin: 5px;
    border: 2px;
    border-radius: 7px;
    padding: 0;
}

#input {
    margin: 5px;
    border: 2px;
}

#inner-box {
    margin: 5px;
}

#outer-box {
    margin: 5px;
    border: 2px;
    border-radius: 7px;
}

#scroll {
    margin: 5px;
    border: 2px;
    border-radius: 5px;
}

#text:selected {
    border: 2px;
    border-radius: 2px;
}
