* {
    border: none;
    border-radius: 0;
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: Iosevka, "FontAwesome 5 Free";
    font-size: 16px;
    min-height: 0;
    margin: 0;
    padding: 0;
}

@define-color bg #282828;
@define-color dark #3c3836;
@define-color cpu #076678;
@define-color network #689d6a;
@define-color white #D0BFA1;
@define-color brightwhite #FCE8C3;
@define-color pulseaudio #8f3f71;
@define-color temperature #79740e;
@define-color backlight #83a598;
@define-color firefox_media #af3a03;
@define-color memory #b57614;
@define-color idle_bg #b16286;

window#waybar {
    background-color: @bg;
    color: @white;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

#window {
  padding: 0 10px;
  font-family: Fira Sans;
  font-size: 15px;
}

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #FFFFFF;
}
*/

#workspaces button {
    padding: 0 5px;
    color: #d5c4a1;
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 -3px #D0BFA1;
    text-shadow: inherit;
}

#workspaces button.focused {
    box-shadow: inset 0 -3px #F75341;
    color: #F75341;
}

#workspaces button.urgent {
    color: #eb4d4b;
}

#mode {
    color: #64727D;
    border-bottom: 3px solid #fbf1c7;
}

#clock,
#battery,
#cpu,
#memory,
#temperature,
#backlight,
#network,
#pulseaudio,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#custom-firefox_media,
#custom-power,

#mpd {
    padding: 0 10px;
    margin: 0 0px;
    color: #ffffff;
}
/* #clock {
    background-color: #585123;
} */

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

label:focus {
    background-color: #000000;
}
#clock {
    color: #FCE8C3;
}
#cpu {
    color: @white;
    background: @cpu;
}

#memory {
    color: @bg;
    background-color: @memory;
}

#backlight {
    color: @dark;
    background: @backlight;
}

#network {
    color: @dark;
    background: @network;
}

#network.disconnected {
    color: #EF2F27;
}

#pulseaudio {
    color: @white;
    background: @pulseaudio;
}

#pulseaudio.muted {
    background-color: #faf0ca;
    color: #2a5c45;
}

#temperature {
    color: @brightwhite;
    background: @temperature;
}

#temperature.critical {
    color: #EF2F27;
}

#tray {
    background-color: #2C78BF;
    box-shadow: inset 0 -3px #ffffff;
}

#idle_inhibitor {
    color: @dark;
    background: @idle_bg;
}

#idle_inhibitor.activated {
    color: #ffffff;
}

#custom-firefox_media {
  color: @firefox_media;
  font-family: Cantarell;
}

#custom-power {
    color: #EF2F27;
}
#custom-arrow1 {
  color: @firefox_media;
  background: @bg;
}
#custom-arrow2 {
  color: @idle_bg;
  background: @firefox_media;
}
#custom-arrow3 {
    color: @pulseaudio;
    background: @idle_bg;
}
#custom-arrow4 {
    color: @network;
    background: @pulseaudio;
}
#custom-arrow5 {
    color: @cpu;
    background:  @network;
}
#custom-arrow6 {
    color: @memory;
    background: @cpu;
}
#custom-arrow7 {
    color: @temperature;
    background: @memory;
}
#custom-arrow8 {
    color: @backlight;
    background: @temperature;
}
#custom-arrow9 {
    color: @bg;
    background: @backlight;
}
