@define-color pink #ff79c6;
@define-color dark_grey #353b52;
@define-color bold_purple #5a4b81;
@define-color orange #FFB86C;
@define-color purple #988bc7;
@define-color green #67e480;
@define-color dracula #282a36;
@define-color red #e61f44;
@keyframes blink-warning {
    70% {
        color: white;
    }

    to {
        color: white;
        background-color: @warning_color;
    }
}

@keyframes blink-critical {
    70% {
        color: white;
    }

    to {
        color: white;
        background-color: @error_color;
    }
}

* {
    border: none;
    border-radius: 0;
    font-family: Iosevka, all-the-icons, "FontAwesome 5 Free",
        FantasqueSansMono Nerd Font;
    font-size: 15px;
    min-height: 0;
    margin: 0;
    padding: 0;
}

window#waybar {
    transition-property: background-color;
    background-color: @dracula;
    transition-duration: 0.5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

#window {
    padding: 0 10px;
    font-family: Cantarell;
    font-weight: 500;
    font-size: 14.5px;
}

#workspaces button {
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 3px;
    color: #888888;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover {
    background: #45a1ff;
    color: white;
    text-shadow: inherit;
}

#workspaces button.focused {
    color: white;
    background-color: #0060df;
}

#workspaces button.urgent {
    color: @warning_color;
}

#mode {
    background: #64727d;
}

#clock,
#battery,
#temperature,
#custom-pacman,
#network,
#pulseaudio,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#custom-firefox_media,
#custom-power,
#mpd {
    padding: 0 10px;
    color: #ff9400;
}
/* Right to left order for right side of bar */
#custom-power {
    background-color: @red;
    color: white;
}
#custom-sep1 {
    background-color: @dark_grey;
    color: @red;
}

#tray {
    background-color: @dark_grey;
}
#custom-sep2 {
    background-color: @bold_purple;
    color: @dark_grey;
}

#clock {
    font-weight: bold;
    background-color: @bold_purple;
    color: white;
}
#custom-sep3 {
    background-color: @orange;
    color: @bold_purple;
}

#custom-pacman {
    font-weight: bold;
    background-color: @orange;
    color: @dracula;
}
#custom-sep4 {
    background-color: @purple;
    color: @orange;
}

#temperature {
    font-weight: bold;
    background-color: @purple;
    color: @dracula;
}
#temperature.critical {
    background-color: @error_color;
    color: white;
}
#custom-sep5 {
    background-color: @pink;
    color: @purple;
}

#pulseaudio {
    font-weight: bold;
    background-color: @pink;
    color: @dracula;
}
#custom-sep6 {
    color: @pink;
}

#mpd {
    font-family: Cantarell;
    font-size: 12.5px;
}
#custom-firefox_media {
    font-family: Cantarell;
    font-size: 12.5px;
}

#custom-lambda {
    font-family: FantasqueSansMono Nerd Font;
    font-size: 18px;
    color: #E39E3C;
    background-color: #2A5229;
    border-radius: 3px;
}
